@import url('https://fonts.googleapis.com/css?family=Cormorant|Marcellus|Monoton|Nothing+You+Could+Do|Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cardo&display=swap&subset=greek,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Vollkorn&display=swap&subset=cyrillic,cyrillic-ext,greek,latin-ext,vietnamese');
*, *::before, *::after {
  box-sizing: border-box;
}

/*----------- pour une barre nav smooth----------*/

html, body {height:100%;margin:0;}
header {position:fixed;width:100%;text-align:center;/*background:#fff;*/}
header a, footer a {font-family: 'Bebas Neue', cursive;display:inline-block;vertical-align:top;margin:0 30px;text-decoration:none;font:5 .95em/40px sans-serif;color:#262626;transition:all .4s ease;}
a:hover {color:#09f;}
/*div {height:100%;}*/
div+div {background:#fff;}
div+div+div {background:#fff;}
div+div+div+div {background:#fff;}
div+div+div+div+div {background:#6A771F;}



/*----------- csss générale----------*/

html {
  min-height: 100%;
}

h1{
  font-size: inherit;
  font-family: 'Monoton', cursive;
  text-align: center;
  line-height: 1.5em;
  position: absolute;
  opacity: 0.5;
  top: 260%;
  left: 47%;
}

h2{
  font-family: 'Julius Sans One', sans-serif;
  text-align: justify;
  line-height: 1.5em;
}

h3{
  font-family: 'Tenor Sans', sans-serif;
}

p{
font-family: 'Julius Sans One', sans-serif;}

h5{
  font-family: 'Nothing You Could Do', cursive;
}

em{
  font-family: 'Nothing You Could Do', cursive;
}

body {
  color: #435757;
  font: 1.4em/1 'Noto Sans', sans-serif;
}

/* ----------- header ----------- */

header a{
  color: #ffddd2;
  text-shadow: grey 2px 2px;
}

/* ---------- partie gallery photos --------- */

.container-gallery {
  display: grid;
/* grid-template-columns:
    [left-gallery-start] 33.33%
    [main-content-start] 33.33%
    [right-sidebar-start] 33.33%;
*/
/* grid-template-rows:
    [body-start] fr
    [body-end footer-start] fr
    [footer-end] fr;*/
  grid-template-areas:
  "photo photo photo"
  "photo photo photo";
/*  height: 150vh;*/ /*pour supprimer l'espace qui a entre les photos*/
/*  grid-gap: 1px;*/
  overflow: hidden;

  grid-template-columns: repeat(3, 1fr);
    grid-gap: 0; /* px si tu veux que les photos se touchent sans espace*/
    grid-auto-rows: minmax(200px, auto);
}

.container-gallery > * {
  background-color: #fff;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo {
  grid-area: photo;
  height: 33.33vw;
object-fit: cover;
}

.object-fit_contain {
  object-fit: cover;
  height: 33.33vw;
  transform:
}

.photo>img {
  object-fit: cover;
  width: 100%
}

/*.polaroid {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 5px;
}*/

.sous-titre {
  text-align: center;
}

/* texte de la gallery */

.portfolio-experiment a {
  color: #ffddd2;
  padding: 0.7em calc(0.7em * 1.2);
  display: inline-block;
  border: 3px solid transparent;
  position: relative;
  cursor: pointer;
  letter-spacing: 0.07em;
  top: -3em;
  left: 3.5em;
  text-shadow: grey 2px 2px;
}

.portfolio-experiment a:nth-child(n+1){
  left: 2.5em;
}

.portfolio-experiment a:last-child{
 left: 4.5em;
}

.portfolio-experiment a .text {
font-family: 'Quicksand', sans-serif;
  transform: translate3d(0, 0.7em, 0);
  display: block;
  transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.portfolio-experiment a:after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: calc(0.7em * 1.2);
  right: calc(0.7em * 1.2);
  height: 3px;
  background: #ffddd2;
  transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
  transform-origin: left;
}

.portfolio-experiment .line.-bottom {
  bottom: -3px;
  transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
  transform-origin: right;
}

.portfolio-experiment a:hover .text,
.portfolio-experiment a:active .text {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.portfolio-experiment a:hover:after,
.portfolio-experiment a:active:after {
  transform: scale3d(0, 1, 1);
  right: -3px;
  left: -3px;
  transform-origin: right;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}

.portfolio-experiment a:hover .line,
.portfolio-experiment a:active .line {
  transform: scale3d(1, 1, 1);
}

.portfolio-experiment a:hover .line.-bottom,
.portfolio-experiment a:active .line.-bottom {
  transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
  transform-origin: left;
}





/* ----------------------- partie footer ---------------------- */

.shell {
  display: grid;
  grid-template-columns: 0 1fr 0;
  grid-template-rows: auto 8em 1fr auto;
}

@media (min-width: 600px) {
  .shell {
    grid-template-columns: 20px 1fr 20px;
  }
}

/* overlap */
.shell:before {
  content: "";
  grid-column: 1/-1;
  grid-row: 1/3;
  background-color: #ffddd2;
}

.shell-header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  color: #FFF;
  background-color: #ffddd2;
  padding: 35px 20px;
}

.shell-body {
  grid-row: 2 / 4;
  grid-column: 2 / 3;
  min-height: 50vh;
  padding: 20px;
  border-radius: 10px;
  box-shadow:  0px 0px 20px rgba(0, 0, 0, 0.25);
  background-color: #FFF;
}

.shell-footer {
  grid-column: 2/3;
  grid-row: -1;
  padding: 20px;
}

footer img{
  margin-left: 2em;
  margin-top: 7em;
}

.container-footer{
  display: grid;
  grid-gap: 15px;
  grid-template-areas:
  "up-footer up-footer up-footer"
  "left-footer middle-footer right-footer";
  grid-template-columns:
    [left-footer] 20%
    [middle-footer] 30%
    [right-footer] 45%
}

.container-footert > * {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.up-footer{
  grid-area: up-footer;
}



.left-footer {
  /* Associer chaque élément du dom à un endroit dans la grille */
  grid-area: left-footer;
}

.middle-footer{
  grid-area: middle-footer;
}

.right-footer{
  grid-area: right-footer;
}

.inline-footer img p{
  display:inline-block;
}

.emoticones li {
  list-style: none;
  display:inline;
  justify-content: space-around;
  text-decoration: none;
}

footer a{
  color: pink;
  font-family: 'Quicksand', sans-serif;
}
