
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: #47728e;
  line-height: 1.2;
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
.wrapper {
  margin-left: 2em;
  margin-top: 60px;
  margin-bottom: 200px;
}
.content {
  margin: 5em;
  padding: 500px 15px;
  width: 500px;
}
.content h1 {
  margin-top: 0;
}
.content p,
.sidebar p{
  font-family: "BLOKKNeue-Regular";
}
.sidebar {
  width: 400px;
  height: 666px;
  background-color: #f6f9c2;
  color: #fff;
  -webkit-box-shadow: -13px -9px 0px 1px rgba(230,218,230,1);
  -moz-box-shadow: -13px -9px 0px 1px rgba(230,218,230,1);
  box-shadow: -13px -9px 0px 1px #f45b69;}
.sidebar h3 {
  margin: 0;
}
.content,
.sidebar {
  float: left;
}

h1{
  color: #F45B69;
  font-family: 'Domine', serif;
  font-size: 65px;
  line-height: 105px;
  font-weight: 600;
  padding: 0.5em 0.5em;

}


/* The sticky */
.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}


img{
  width:130%;
}

.portfolio-experiment a {
  color: #003049;
  padding: 0.7em calc(0.7em * 1.2);
  display: inline-block;
  border: 3px solid transparent;
  position: relative;
  font-size: 1.5em;
  cursor: pointer;
  letter-spacing: 0.07em;
  font-weight: bold;
}

.portfolio-experiment a .text {
  font-family: 'Domine', serif;
  transform: translate3d(0, 0.7em, 0);
  display: block;
  transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.portfolio-experiment a:after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: calc(0.7em * 1.2);
  right: calc(0.7em * 1.2);
  height: 3px;
  background: #003049;
  transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
  transform-origin: left;
}

.portfolio-experiment .line.-bottom {
  bottom: -3px;
  transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
  transform-origin: right;
}

.portfolio-experiment a:hover .text,
.portfolio-experiment a:active .text {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.portfolio-experiment a:hover:after,
.portfolio-experiment a:active:after {
  transform: scale3d(0, 1, 1);
  right: -3px;
  left: -3px;
  transform-origin: right;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}

.portfolio-experiment a:hover .line,
.portfolio-experiment a:active .line {
  transform: scale3d(1, 1, 1);
}

.portfolio-experiment a:hover .line.-bottom,
.portfolio-experiment a:active .line.-bottom {
  transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
  transform-origin: left;
}
