@import url('https://fonts.googleapis.com/css?family=Cormorant|Marcellus|Monoton|Nothing+You+Could+Do|Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cardo&display=swap&subset=greek,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Vollkorn&display=swap&subset=cyrillic,cyrillic-ext,greek,latin-ext,vietnamese');
*, *::before, *::after {
  box-sizing: border-box;
}

/*----------- pour une barre nav smooth----------*/

html, body {height:100%;margin:0;}
span {position:fixed;width:100%;text-align:center;background:#fff;}
a {display:inline-block;vertical-align:top;margin:0 30px;text-decoration:none;font:700 .95em/40px sans-serif;color:#262626;transition:all .4s ease;}
a:hover {color:#09f;}
/*div {height:100%;}*/
div+div {background:#fff;}
div+div+div {background:#fff;}
div+div+div+div {background:#fff;}
div+div+div+div+div {background:#6A771F;}



/*----------- csss générale----------*/

html {
  min-height: 100%;
}

h1{
  font-size: inherit;
  font-family: 'Monoton', cursive;
  text-align: center;
  line-height: 1.5em;
  position: absolute;
  opacity: 0.5;
  top: 295%;
  left: 47%;
}

h2{
  font-family: 'Julius Sans One', sans-serif;
  text-align: justify;
  line-height: 1.5em;
}

h3{
  font-family: 'Tenor Sans', sans-serif;
}

p{
font-family: 'Julius Sans One', sans-serif;}

h5{
  font-family: 'Nothing You Could Do', cursive;
}

em{
  font-family: 'Nothing You Could Do', cursive;
}

body {
  color: #435757;
  font: 1.4em/1 'Noto Sans', sans-serif;
}

/* ---------- partie gallery photos --------- */

.container-gallery {
  display: grid;
 grid-template-columns:
    [left-gallery-start] 33,33%
    [main-content-start] 33,33%
    [right-sidebar-start] 33,33%;

/* grid-template-rows:
    [body-start] fr
    [body-end footer-start] fr
    [footer-end] fr;*/
  grid-template-areas:
  "photo photo photo"
  "photo photo photo";
  height: 150vh;
/*  grid-gap: 1px;*/
  overflow: hidden;

  grid-template-columns: repeat(3, 1fr);
    grid-gap: 0; /* px si tu veux que les photos se touchent sans espace*/
    grid-auto-rows: minmax(200px, auto);
}

.container-gallery > * {
  background-color: #f45b69;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo {
  grid-area: photo;
  height: 33.33vw;
object-fit: cover;
}

.object-fit_contain {
  object-fit: cover;
}

.photo>img {
  object-fit: cover;
  width: 100%
}

/*.polaroid {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 5px;
}*/

.sous-titre {
  text-align: center;
}

/* ---------- partie blog  --------- */


.container {
  display: grid;
  grid-template-columns:
    [left-gallery-start] 35%
    [left-gallery-end main-content-start] 35%
    [main-content-end right-sidebar-start] 35%
    [right-sidebar-end] 35%;

  grid-template-rows:
    [body-start] 2fr
    [body-end footer-start] 2fr
    [footer-end];

  height: 150vh;
  grid-gap: 1px;
}

.container > * {
  background-color: palegoldenrod;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer {
  /* Raccourci de grid-column-start et grid-column-end */
  grid-column: main-content-start / right-sidebar-end;
}

.lsidebar {
    /* Raccourci de grid-row-start et grid-row-end */
  grid-row: body-start / footer-end;
}




#intro_color{
  margin-left: 2em;
  margin-top: 2em;
  text-align: center;
}

strong.color1, strong.color2, strong.color3, strong.color4 {
    color: #FFD23F;
}
strong.color1, strong.color2, strong.color3, strong.color4 {
    font-size: 5em;
    line-height: 1em;
    font-weight: 5em;
    transition: color 1s;
    padding: 0;
}

strong.color1:hover{
	color: pink;
}

strong.color3:hover{
	color: steelblue;
}

strong.color2:hover{
	color: #8C271E;
}

strong.color4:hover{
	color: seagreen;
}

#intro_color strong{
  display:inline-block;
}


/* ---------- partie studio  --------- */



.container-studio {
  -ms-display: grid;
  display: grid;
  grid-gap: 15px; /* Shortcut pour grid-row-gap grid-column-cap */
  grid-template-areas:
  "header header header"
  "test section aside-2"
  "footer footer footer";
}

/* All Grid Items */
.container-studio > * {
  background-color: #ffddd2;
  font-size: 80px;
  padding: 10px;
}


header {
  /* Associer chaque élément du dom à un endroit dans la grille */
  grid-area: header;
}

aside:nth-of-type(1) {
  grid-area: test;
}

section {
  grid-area: section;
}

aside:nth-of-type(2) {
  grid-area: aside-2;
}

footer {
  grid-area: footer;
}



/* ---------- partie project --------- */

.container-project {
  display: grid;
  grid-template-columns:
    [left-gallery-start] 50%
    [left-gallery-end main-content-start] 50%
    [main-content-end right-sidebar-start] 35%

  grid-template-rows:
    [body-start] 2fr
    [body-end footer-start] 2fr
    [footer-end];

  height: 150vh;
  grid-gap: 1px;
}

.container-project > * {
  background-color: #577590;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer {
  /* Raccourci de grid-column-start et grid-column-end */
  grid-column: main-content-start / right-sidebar-end;
}

.lsidebar {
    /* Raccourci de grid-row-start et grid-row-end */
  grid-row: body-start / footer-end;

}

button {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  padding: 1em 2em;
  box-shadow: inset 0 0 0 2px #f45e61;
  color: #f45e61;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
}
button::before, button::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.draw {
  transition: color 0.25s;
}
.draw::before, .draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover {
  color: #60daaa;
}
.draw:hover::before, .draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: #60daaa;
  border-right-color: #60daaa;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
  border-bottom-color: #60daaa;
  border-left-color: #60daaa;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

/* ----------------------- partie footer ---------------------- */

.shell {
  display: grid;
  grid-template-columns: 0 1fr 0;
  grid-template-rows: auto 8em 1fr auto;
}

@media (min-width: 600px) {
  .shell {
    grid-template-columns: 20px 1fr 20px;
  }
}

/* overlap */
.shell:before {
  content: "";
  grid-column: 1/-1;
  grid-row: 1/3;
  background-color: #ffddd2;
}

.shell-header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  color: #FFF;
  background-color: #ffddd2;
  padding: 35px 20px;
}

.shell-body {
  grid-row: 2 / 4;
  grid-column: 2 / 3;
  min-height: 50vh;
  padding: 20px;
  border-radius: 10px;
  box-shadow:  0px 0px 20px rgba(0, 0, 0, 0.25);
  background-color: #FFF;
}

.shell-footer {
  grid-column: 2/3;
  grid-row: -1;
  padding: 20px;
}

footer img{
  margin-left: 2em;
  margin-top: 8em;
}

.container-footer{
  display: grid;
  grid-gap: 15px;
  grid-template-areas:
  "up-footer up-footer up-footer"
  "left-footer middle-footer right-footer";
  grid-template-columns:
    [left-footer] 20%
    [middle-footer] 30%
    [right-footer] 45%
}

.container-footert > * {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.up-footer{
  grid-area: up-footer;
}



.left-footer {
  /* Associer chaque élément du dom à un endroit dans la grille */
  grid-area: left-footer;
}

.middle-footer{
  grid-area: middle-footer;
}

.right-footer{
  grid-area: right-footer;
}

.inline-footer img p{
  display:inline-block;
}

.emoticones li {
  list-style: none;
  display:inline;
  justify-content: space-around;
  text-decoration: none;
}

a{
  color: pink;
}
